.body {margin:0;
       padding:0;}

.topmenu { display: -moz-box;
	       display: -webkit-flex;
	       display: flex;
           width: 100%;
           border: solid 1px orange;
           margin: 0 auto;}

.topmenu a { -moz-box-flex:1;
	         -webkit-flex:1;
	         flex: 1;
             padding: 5px;
             text-align: center;
             font-size: 16px;
             border-right: 1px orange solid;
             color: white;
             background: #afddd1;
             text-decoration: none;}

.logo {float:left;
padding: 5px;}

.logotex {float: right;
padding: 3px;
text-shadow: 1px 1px 1px black;}

.text-block {
	margin-left:205px;
}
